@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .max-h-desktop {
        max-height: 720px;
    }

    * {
        font-family: 'Work Sans', sans-serif;
    }

    body {
        /*overflow: hidden;*/
    }

    .text-beatrice {
        font-family: "Beatrice Display", sans-serif;
        src: url('/Beatrice Display.ttf');
    }

    .imagescontainer {
        background-color: white;
        overflow: hidden;
        position: relative;
    }

    .animation {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        white-space: nowrap;
        background-color: #000;
        color: #fff;
        overflow: hidden;
        justify-content: center;
        z-index: 100;
        width: 100%;
    }

    .animate {
        font-size: 100px;
        text-transform: uppercase;
        color: #e0e0e0;
        -webkit-animation: animate 10s linear infinite;
        animation: animate 10s linear infinite;
    }

    @-webkit-keyframes animate {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
    @keyframes animate {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
    .animate span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px blue;
        margin: 0 10px;
    }
}